rules_version = '2';

// Craft rules based on data in your Firestore database
// allow write: if firestore.get(
//    /databases/(default)/documents/users/$(request.auth.uid)).data.isAdmin;
service firebase.storage {
  match /b/{bucket}/o {
    // images フォルダ以下は全て読み書き可能
    match /images/{allPaths=**} {
      allow read, write;
    }

    // その他は読み書き禁止
    match /{allPaths=**} {
      allow read, write: if false;
    }
  }
}
