rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    // images フォルダ以下は全て読み書き可能
    match /images/{allPaths=**} {
      allow read, write;
    }

    // hero フォルダにも一時的に読み書き許可
    match /hero/{allPaths=**} {
      allow read, write;
    }

    // その他は読み書き禁止
    match /{allPaths=**} {
      allow read, write: if false;
    }
  }
}
