.ql-align-center {
  text-align: center;
}
.ql-align-right {
  text-align: right;
}
.ql-align-justify {
  text-align: justify;
}
.ql-align-left {
  text-align: left;
}
.ql-font-serif {
  font-family: serif;
}
.ql-font-sans-serif {
  font-family: sans-serif;
}
.ql-font-monospace {
  font-family: monospace;
}
.ql-editor img {
  max-width: 100%;
  height: auto;
}
